#################################
# Python
#################################

__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/

#################################
# Virtual Environment
#################################

venv/
env/
.venv/
conda/
*.env

#################################
# Jupyter
#################################

.ipynb_checkpoints/

#################################
# VSCode
#################################

.vscode/
.history/

#################################
# System
#################################

.DS_Store
Thumbs.db

#################################
# Logs
#################################

logs/
*.log

#################################
# Deep Learning Checkpoints
#################################

*.pt
*.pth
*.ckpt
*.onnx

#################################
# Medical Image Data
#################################

*.nii
*.nii.gz
*.mhd
*.raw
*.dcm
*.nrrd

#################################
# Dataset
#################################

dataset/
datasets/
data/

#################################
# Experiments
#################################

experiments/
runs/
outputs/
checkpoints/

#################################
# Cache
#################################

cache/
tmp/